# Google Cloud Vision API設定
GOOGLE_CLOUD_API_KEY=AIzaSyC1Jdj2Z8qY7dvE6qdl5oD10XPagTS042o

# Airtable設定
AIRTABLE_API_KEY=patRewfzvma59WpfS.cdb72f848460991185fd923e1fa25e3141aa9b879c52167cf50c38ba41de12ae
AIRTABLE_BASE_ID=appYrvQJhzPWP7rf6

# テーブル名（デフォルト値から変更する場合のみ設定）
BOOKS_TABLE=BookM
STUDENTS_TABLE=StudentsM
LOANS_TABLE=Loans

# テスト用データ
TEST_STUDENT_ID=STU001
TEST_IMAGE_BASE64=/Users/ryosatoh2/Documents/IMG_0010.jpeg